# Package Files #
*.jar

# Ignore everything in this directory
target
package
*.i??
.idea

# Ignore dependency-reduced-pom.xml file created by Apache Maven Shade Plugin, see https://maven.apache.org/plugins/maven-shade-plugin/shade-mojo.html
dependency-reduced-pom.xml

